{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% block avanzu_page_title %}
    Areas

{% endblock %}
{% block avanzu_page_content %}

    <a href="{{ path('job_overview',{'id':job.id}) }}" class="btn btn-primary"  ><i class="fa fa-arrow-left"></i> Back to the Job</a>
    <div style="padding-bottom: 15px">

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Area Creation</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn btn-success" value="Create" />
                    {{ form_end(form) }}
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Current areas</h3>
                </div>

                <div class="box-body">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Area</th>
                            <th>Cost</th>
                            <th>Add Areas</th>
                            {#<th>Status</th>#}
                            {#<th>Reason</th>#}
                        </tr>
                        {% for lots in existingLots %}
                            <tr>
                                <td>{{ lots.name }}</td>
                                <td> {{ lots.cost }}</td>
                                <td><a href="{{ path('surface_creation',{'id':lots.id}) }}" class="btn btn-primary"><i class="fa fa-pencil"></i> </a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">

                </div>
            </div>
            <!-- /.chart-responsive -->
        </div>

    <!-- /.col -->
    </div>






{% endblock %}
